
<br><br><br><br>
<div class="card">
    <form (ngSubmit)="EditAssociate()">
        <div class="card-header">
            {{title}}
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td><input type="text" name="a_username" [(ngModel)]="Associate.username" readonly></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input type="text" name="a_email" [(ngModel)]="Associate.email" readonly></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" name="a_password" [(ngModel)]="Associate.password"></td>
                        </tr>
    
                        <tr>
                            <td><input type="submit" value="Edit Password"></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </form>
</div>
