<!-- <b><br><br><br><br>
<h1>Welcome to your Hall Booking Portal</h1>
<br><br>
<h2>Current bookings for the week</h2>

<app-current-booking></app-current-booking> -->

<div class="container-fluid">
    <img src="../../assets/HK-TST-Meeting-Room.jpg" alt="">
  
      <div class="centered">
        <h1>Welcome to your Hall Booking Portal</h1>
       
       
       <br>
       
      </div>
      <h2>Current bookings for the week </h2>
    </div>
      <app-current-booking></app-current-booking>




