<!-- <div class="bg-dark text-center  text-white">

  <div class="container ">

    <section class="mb-4">

      <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>


      <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

 
      <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

   
      <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

  
      <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
   
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">ICTAK-Hall-Booking.com</a>
  </div>

</div> -->

<footer>
  <div class="footer d-flex justify-content-center align-items-center text-center text-light pt-3">
      <p>Copyright © 2022. ICTAK HALL BOOKING PORTAL </p>
  </div>
</footer>